body{
    background-color: #222;
}
.firstpage{
    width: 100%;
    height: 100vh;
    background-image: url("firstimage.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
nav>ul{
    list-style-type: none;
}
nav{
    margin-left: 50%;
    position: absolute;
}
.nav-item-section>a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 0.8px;
    font-size: 22px;
    width: 99%;
}
.nav-item-section{
    border-bottom: 2px solid #faed26;
    border-top: 2px solid #579709;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item-section>a:hover{
    color: #000000;
    text-shadow: 1px 1px 1px #fff;
}
.nav-item{
    float: left;
    margin: 20px 20px 0 70px;
}
.title{
    margin-left: 70px;
    margin-top: 130px;
    width: 400px;
}
.first-title{
    color: #ffee00;
    font-size: 70px;
    font-family: 'Londrina Solid';
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 72px;
    text-shadow: 2px 2px 2px #000;
}
.flex-box{
    display: flex;
}
.margin-bold{
    margin-bottom: -70px;
}
.text{
    width: 800px;
    margin-top: 185px;
    margin-left: 40px;
    margin-right: 30px;
}
.text>p{
    font-size: 25px;
    color: #000000;
    font-weight: 700;
    text-shadow: 1px 1px 1px #6e6e77;
}
.flex-box>span{
    margin-left: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    animation: type 3s steps(19) infinite;
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 20ch;
    }
}